{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": ["error", "unix"],
    "object-curly-spacing": "off",
    "operator-linebreak": "off",
    "indent": ["error", 2],
    "semi": ["error", "never"]
  },
  "extends": ["eslint:recommended","plugin:react/recommended", "google"]  
}
