@font-face {
  font-family: 'Stemm';
  font-style: regular;
  font-weight: 400;
  src: url(./Stemm-Regular/Stem-Regular.woff2) format('woff2'),
       url(./Stemm-Regular/Raleway-Regular.woff) format('woff');
}
