@import url(../../utils/reset.css);
@import url(../../utils/fonts/fonts.css);
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1F1F1F;
  max-width: 1920px;
  overflow: hidden;
}