@import url(../../utils/reset.css);
@import url(../../utils/fonts/fonts.css);
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1F1F1F;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
}

.app__arrow {
  position: fixed;
  bottom: 10vh;
  right: 2vw;
  width: 86px;
  height: 86px;
  z-index: 50;
  border-radius: 50%;
  background-color: #4e4e4e;
  opacity: 70%;
}

.app__arrow-line {
  position: absolute;
  top: 38px;
  left: 14px;
  width: 38px;
  height: 6px;
  border-radius: 10px;
  background: #fff;
  transform: rotate(123deg);
}

.app__arrow-line::after {
  content: '';
  position: absolute;
  top: -16px;
  left: -12px;
  width: 38px;
  height: 6px;
  border-radius: 10px;
  background: #fff;
  transform: rotate(106deg);
}