.services__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 140px;
}

.sevices__top {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.services__left-container {
  width: 939px;
  display: flex;
  flex-direction: column;
  padding: 33px 37.5px;
  /* background: url(../../../Image/services/Слой\ 1.png) center right no-repeat; */
  margin-right: 55px;
  position: relative;
  border: 3px solid #fff;
  border-radius: 36px;
  z-index: 2;
  overflow: hidden;
  transition: background-image 0.2s ease-in;
}

.services__left-container:hover {
  background: url(../../../Image/grid-bcg/Прямоугольник\ 14.svg) center no-repeat;
  transition: all 0.2s ease-in;
}

.services__left-container::after {
  content: '';
  position: absolute;
  width: 939px;
  height: 506.5px;
  top: 0px;
  right: -0.5px;
  background: url(../../../Image/services/Слой\ 1.png) center right no-repeat;
  z-index: 3;
  transition: all 0.2s ease-in;
}

.services__left-container:hover::after {
  background: url(../../../Image/grid-bcg//svg-editor-image.svg) center right no-repeat;
  box-shadow: -10px 15 40px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in;
}

.services__text {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
  text-align: left;
  max-width: 666px;
  margin-bottom: 12.5px;
}

.services__bnt-cintainer {
  display: flex;
}

.services__btn {
  width: 219px;
  height: 72px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: none;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
}

.services__btn_link {
  color: #fff;
  text-align: center;
  background: none;
  border: none;
}

.services__right-container {
  max-width: 646px;
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 36px;
  padding: 33px 37.5px;
  transition: all 0.2s ease-in;
}

.services__right-container:hover {
  background: url(../../../Image/grid-bcg/Прямоугольник\ 15.png) center no-repeat;
  transition: all 0.2s ease-in;
}

.services__right-container:hover .services__text_right {
  color: #1f1f1f;
  transition: all 0.2s ease-in;
}

.services__text_right {
  text-align: right;
  max-width: 581px;
}

.services__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #fff;
  margin-bottom: 63px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.services__item {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.services__ico {
  height: 74px;
  width: auto;
  margin: 0 auto 31px;
}

.services__subtitle {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 31px;
  color: #fff;
  text-align: center;
  margin: 0 auto
}

.services__super-title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: black;
  font-weight: 500;
  font-size: 228px;
  line-height: 267px;
  color: #1f1f1f;
  text-align: right;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  padding: 0 34px;
}

.sevices__top_btm {
  margin-left: 0;
  justify-content: flex-start;
}

.services__left-container_btm {
  max-width: 724px;
  margin-top: -124px;
  width: 939px;
  display: flex;
  flex-direction: column;
  padding: 33px;
  /* background: url(../../../Image/services/Слой\ 1.png) center right no-repeat; */
  margin-right: 55px;
  position: relative;
  border: 3px solid #fff;
  border-radius: 36px;
  z-index: 2;
  overflow: hidden;
  transition: background-image 0.2s ease-in;
}

.services__left-container_btm:hover {
  background: url(../../../Image/grid-bcg/Gold.png) center no-repeat;
  transition: all 0.2s ease-in;
}

.services__left-container_btm::after {
  content: '';
  position: absolute;
  width: 724px;
  height: 100%;
  bottom: 55px;
  right: 0px;
  background: url(../../../Image/services/Слой\ 1.png) bottom right no-repeat;
  z-index: 4;
  transition: all 0.2s ease-in;
}

.services__left-container_btm:hover::after {
  background-image: url(../../../Image/grid-bcg/g3.svg);
  box-shadow: -10px 15 40px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in;
}

.services__right-container_btm {
  max-width: 849px;
  height: 756px;
  margin-top: 82px;
  margin-right: 0;
  border: 3px solid #fff;
  border-radius: 36px;
  padding: 34px 32px;
}

.services__text_right_btm {
  width: 784px;
  max-width: 784px;
  transition: all 0.2s ease-in;
}

.services__right-container_btm:hover {
  background: url(../../../Image/grid-bcg/Blue.png);
  transition: all 0.2s ease-in;;

}

.services__text_btm {
  max-width: 431px;
  width: 431px;
  margin-top: 28px;
  margin-bottom: calc(3*28px);
}

.services__left-container_btn {
  background-position: bottom right;
}

.services__btn_btm {
  margin-bottom: 22px;
  border: none;
}

.services__left-container_btm:hover .services__text, .services__left-container_btm:hover .services__btn_link {
  color: #1f1f1f;
  transition: all 0.2s ease-in;
}