.main__wrapper {
  height: 1080px;
  background: url('../../../Image/main/Фон-1.png') no-repeat;
  position: relative;
  filter: grayscale(100%);
  z-index: 2;
  transition: all 0.3s ease;
}

.main__wrapper:hover {
  filter: grayscale(0%);
  transition: all 0.3s ease;
}

.main__wrapper::before, .main__wrapper:hover::before {
  content: "";
  z-index: 2;
  background: url('../../../Image/main/Прямоугольник\ 12.png') center no-repeat;
  background-size: cover;
  position: absolute;
  top: 60%;
  width: 100%;
  height: 436px;
  transition: all 0.3s ease;
}

.main__text {
  margin: 417px auto 417px 150px;
  max-width: 616px;
}

.main__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 50px;
  color: #fff;
  margin-bottom: 4px;
}

.main__subtitle {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 16px;
}

.main__btn {
  background: none;
  width: 206px;
  height: 54px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  border: 1px solid white;
  border-radius: 11px;
}